<div class="page bckg-white-full col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="tile-header dvd dvd-btm h-5"> 
        <h3 class="custom-font m-0"><strong>Transactions</strong></h3>
    </div>  
    <div class="tile-body h-95">
        <div clas="row h-10">
            <div class="col-md-12">
                <h4 class="custom-font m-0">Operate</h4>
            </div>
            <div class="col-md-12">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pl-5 pr-0">
                    <span><small>Type: <span class="text-red">*</span></small></span>
                    <select name="type"
                            class="form-control text-sm"
                            ng-model="typeTransaction"
                            ng-options="select |  lowercase  for select in types">
                    </select>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pl-5 pr-0">
                    <span><small>Amount: <span class="text-red">*</span></small></span>
                    <input type="number" class="form-control" ng-model="amountTransaction">
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pl-5 pr-0 col-md-offset-1">
                    <span class="text-bold"><small>Total Balance</small></span>
                    <div class="col-md-12">
                        <span class="text-bold" ng-class="{'text-red': account.balance < 0, 'text-green': account.balance >= 0}">$ {{account.balance}}</span>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pl-5 pr-0">
                    <button type="button" class="btn btn-success form-control mt-15" ng-click="sendTransaction()" ng-show="typeTransaction!==null && amountTransaction!==null">Accept</button>
                </div>
            </div>
        </div>
        <div clas="row h-90">
            <table class="table table-custom b-b b-0 col-md-12" >
                <thead class="">
                    <tr class="">
                        <th class="col-md-4">Date</th>
                        <th class="col-md-4">Type</th>
                        <th class="col-md-4">Amount</th>
                    </tr>       
                </thead>
                <tbody>
                    <tr ng-repeat="t in listTransactions" ng-class="{'text-red': t.type === 'debit', 'text-green': t.type === 'credit'}">
                        <td>
                            <span class="pl-10 text-bold text-capitalize">{{t.date}}</span>
                        </td>
                        <td>
                            <span class="pl-10 text-capitalize">{{t.type}}</span>
                        </td>
                        <td>
                            <span class="pl-10">{{t.amount}}</span>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>